<!DOCTYPE html>
<html>
  <head>
    <title>Highway 80 Road Conditions</title>
    <link
      id="favicon"
      rel="icon"
      href="https://gomix.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="author"
      content="Ido Green | greenido.wordpress.com | @greenido"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body
    background="https://cdn.glitch.com/77226634-c4ec-49b2-91d1-afa454bc1adb%2FCrested_Butte.jpg?1519855606111"
  >
    <center>
      <header>
        <h1 class="myh1">
          Highway 80 Conditions (Bay Area ↔️
          <a
            href="https://ul.waze.com/ul?place=ChIJ141OPOzfm4ARyfw0wYgvF20&ll=39.32796200,-120.18325330&navigate=yes"
            target="_blank"
            >Tahoe</a
          >)
        </h1>
        <div id="curStatus"></div>
      </header>
      <div
        class="glitchButton"
        style="position: absolute; top: 40px; right: 40px"
      ></div>

      <hr />
      <main>
        <!-- Traffic Cameras -->
        <iframe
          src="https://cwwp2.dot.ca.gov/vm/loc/d3/hwy80atkingvaleeb.htm"
          width="350"
          height="400"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <iframe
          src="https://cwwp2.dot.ca.gov/vm/loc/d3/hwy80atkingvalewb.htm"
          width="350"
          height="400"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <iframe
          src="https://cwwp2.dot.ca.gov/vm/loc/d3/hwy80atcastlepeak.htm"
          width="350"
          height="400"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <iframe
          src="https://cwwp2.dot.ca.gov/vm/loc/d3/hwy80atdonnersummit.htm"
          width="350"
          height="400"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <iframe
          src="https://cwwp2.dot.ca.gov/vm/loc/d3/hwy80atdonnerlake.htm"
          width="350"
          height="400"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <h3>
          <a href="https://pow-day-northstar.glitch.me/" target="_blank"
            >❄️ Northstar Conditions ❄️</a
          >
        </h3>

        <h3>
          <a href="https://roads.dot.ca.gov/" target="_blank">Highway 80</a> ⛷️
          <a href="http://cwwp2.dot.ca.gov/vm/iframemap.htm" target="_blank"
            >i80 Live Video</a
          >
          <br /><br />
          <a
            href="https://www.northstarcalifornia.com/the-mountain/mountain-conditions/mountain-cams.aspx"
            target="_blank"
            >Northstar Live</a
          >
          <br /><br />
          <h3>
            🌨️ Weather:
            <a
              href="https://weather.com/weather/today/l/1aec71fcd6951b7bd2cbba92cf473f6b13fb09af1f6dfb364decfe89402e8fd2"
              target="_blank"
              >Truckee</a
            >
            /
            <a
              href="https://weather.com/weather/today/l/aa6184294c629ec85dfae553b2f2a08b34b4f005cb1be43ffa1986735b27a4d2"
              target="_blank"
              >Heavenly</a
            >
            /
            <a
              href="https://weather.com/weather/today/l/837ba8446c84a187f3369b95029feb9bac5fb81ae365c6b62d91238e9e6c9508"
              target="_blank"
              >Kirkwood</a
            >
          </h3>
          <br />
          <a
            class="twitter-timeline"
            data-tweet-limit="5"
            href="https://twitter.com/northstarmtn?ref_src=twsrc%5Etfw"
            >Tweets</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
          <a
            class="twitter-timeline"
            data-tweet-limit="4"
            href="https://twitter.com/CaltransDist3?ref_src=twsrc%5Etfw"
            >@CaltransDist3</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
          <br /><br />
          <h2>Heavenly</h2>
          <h3>
            <a href="https://hwy50-road-conditions.glitch.me/" target="_blank"
              >Highway 50 road conditions</a
            >
          </h3>
          <a
            class="twitter-timeline"
            data-tweet-limit="3"
            href="https://twitter.com/skiheavenly?ref_src=twsrc%5Etfw"
            >Ski heavenly</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>

          <br />
          Check it live on the
          <a
            href="https://assistant.google.com/services/a/uid/00000085e4bd32d4?hl=en"
            >Google Assistant</a
          >
        </h3>

        <hr />
        <h3>
          🚘
          <a href="https://highway-80-california.glitch.me/" target="_blank"
            >Highway 80 Road Conditions - Northstar</a
          >
        </h3>
        <h3>
          🚖
          <a href="https://hwy50-road-conditions.glitch.me/" target="_blank"
            >Highway 50 road conditions - Heavenly</a
          >
        </h3>
        <h3>
          🚔
          <a href="https://is-kirkwood-road-open.glitch.me/" target="_blank"
            >Highway 88 road conditions - Kirkwood</a
          >
        </h3>
      </main>
      <br /><br />
      <h2>
        <footer>
          <a href="https://ido-green.appspot.com">Ido's Talks and Code</a>
        </footer>
      </h2>
      <p>
        <small>Updated: Feb 2023 🚴</small>
      </p>
    </center>
    <!--     <script src="https://button.glitch.me/button.js" data-style="glitch"></script> -->
    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/client.js"></script>
  </body>
  <!-- GA -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-177900957-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-177900957-1");
  </script>
</html>
