<!DOCTYPE html>
<html>
  <head>
    <title>Highway 80 Road Conditions - Action on Google</title>
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
      <meta name="author" content="Ido Green | greenido.wordpress.com | @greenido">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body background="https://cdn.glitch.com/77226634-c4ec-49b2-91d1-afa454bc1adb%2FCrested_Butte.jpg?1519855606111">
    <center>
    <header>
      <h1 class="myh1">"Hey Google, talk to Highway 80 conditions"</h1>
      <div id="curStatus">
        
      </div>
    </header>
    <div class="glitchButton" style="position: absolute; top: 40px; right: 40px;"></div>
    <br><br>
    <hr>
    <main>
      <h3>
        Check it live on the <a href="https://assistant.google.com/services/a/uid/00000085e4bd32d4?hl=en">Google Assistant</a> or right here below.
      </h3>
        <iframe class="dialogdlow" width="90%" src="https://console.dialogflow.com/api-client/demo/embedded/i80"></iframe>  
      <h3>
        <a href="http://www.dot.ca.gov/hq/roadinfo/display.php?page=i80" target="_blank">Highway 80 Road Conditions Offical Site</a><br><br>
        <a href="http://dot.ca.gov/d3/cameras.html" target="_blank">i80 Live Video Camera</a><br><br>
        <a href="https://www.northstarcalifornia.com/the-mountain/mountain-conditions/mountain-cams.aspx" target="_blank">Northstar Pow Cams</a>
        <br>
        <br>
        <a class="twitter-timeline" href="https://twitter.com/northstarmtn?ref_src=twsrc%5Etfw">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </h3>
      <h4>
        <a href="https://www.onthesnow.com/california/northstar-california/skireport.html" target="_blank">Weather Source</a><br><br>
        <br>
        <a href="https://glitch.com/edit/#!/pow-day-northstar">The Code</a>
        <!-- <a href="https://github.com/greenido/TODO" target="_blank">Source Code</a> on GitHub -->
      </h4>
      <hr>
      <iframe width="95%" height="315" src="https://www.youtube.com/embed/ykSFAs6S_Kg" frameborder="0" allowfullscreen></iframe>
    </main>
      <br><br>
      <h2>
        <footer>
          For more: <a href="https://ido-green.appspot.com">Ido's Talks and Code</a>
        </footer>
      </h2>
      <p>
        <small>Updated: March 2018</small>
      </p>
  </center>
    <!--     <script src="https://button.glitch.me/button.js" data-style="glitch"></script> -->
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
    <!-- GA -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-27750723-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</html>